.color {
  background-color: rgb(158, 217, 237);
}

.home {
  border: none;

  background-color: rgb(158, 217, 237);
}

.nav-link {
  margin-left: 10px;
}
.alloc{
  margin-left: 400px;
  margin-top: 20px;
}
/* .dropOption_value{
  list-style: none;
  z-index: 999;
  top: 100%;
  left: 0;
}
.dropOption_Admin{
  list-style: none;
  top: 100%;
  margin-right: 10%;
} */