.color {
  background-color: rgb(158, 217, 237);
}

.home {
  border: none;

  background-color: rgb(158, 217, 237);
}

.nav-link {
  margin-left: 10px;
}
.alloc{
  margin-left: 400px;
  margin-top: 20px;
}
